<section class="advantages">
    <div class="advantages__wrapper">


        <div class="advantages__bg">
            <div class="advantages__circle-wrapper">
                <img src="/images/advantages-circle-2.webp" alt="" class="advantages__circle">
            </div>
            <img src="/images/advantages-decor.svg" alt="" class="advantages__decor">
        </div>
        <div class="advantages__content">
            <div class="advantages__text-content">
                <h2 class="advantages__title">
                    Безопасность и&nbsp;доверие&nbsp;&mdash; в&nbsp;придачу ко&nbsp;вкусу
                </h2>
                <div class="advantages__text">
                    Мы&nbsp;серьёзно относимся к&nbsp;качеству, даже если подаём легко. Каждая партия проходит
                    лабораторный контроль на&nbsp;всех этапах: от&nbsp;молока до&nbsp;готовой упаковки.
                </div>
            </div>
            <div class="advantages__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Производство<br> по&nbsp;стандартам ХАССП
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Вся продукция имеет<br> декларации соответствия ТР&nbsp;ТС
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Сертифицированные<br> поставщики сырья
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Стабильное качество<br> без сюрпризов
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advantages__slider-pagination">

                </div>
            </div>

            <div class="advantages__shops" id="shops">
                <h3 class="advantages__shops-heading">
                    Наш сыр&nbsp;&mdash; ближе, чем&nbsp;ты&nbsp;думаешь
                </h3>
                <div class="advantages__shops-text">
                    Есть на&nbsp;полках маркетов, есть онлайн. Выбирай, как удобнее.
                </div>
                <ul class="advantages__shops-list">
                    <li class="advantages__shops-list-item">
                        <img src="/images/diksi.svg" alt="" class="advantages__shops-image">
                    </li>
                    <li class="advantages__shops-list-item">
                        <img src="/images/lenta.svg" alt="" class="advantages__shops-image">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>