<section class="advantages">
    <div class="advantages__wrapper">


        <div class="advantages__bg">
            <div class="advantages__circle-wrapper">
                <img src="/images/advantages-circle-2.webp" alt="" class="advantages__circle">
            </div>
            <img src="/images/advantages-decor.svg" alt="" class="advantages__decor">
        </div>
        <div class="advantages__content">
            <div class="advantages__text-content">
                <h2 class="advantages__title">
                    Безопасность<br> и доверие в придачу к вкусу
                </h2>
                <div class="advantages__text">
                    Мы серьёзно относимся к качеству — даже если подаём легко. Каждая партия проходит лабораторный
                    контроль на всех этапах: от молока до готовой упаковки.
                </div>
            </div>
            <div class="advantages__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Производство по стандартам ХАССП
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Вся продукция имеет декларации соответствия ТР ТС
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Сертифицированные поставщики сырья
                                </h3>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantages__card">
                                <div class="advantages__card-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </div>
                                <h3 class="advantages__card-title">
                                    Чистый, стабильный продукт без сюрпризов
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="advantages__diksi">
                <h3 class="advantages__diksi-heading">
                    Наш сыр — ближе,<br> чем ты думаешь
                </h3>
                <div class="advantages__diksi-text">
                    Есть на полках маркетов, есть онлайн. Выбирай, как удобнее.
                </div>
                <img src="/images/diksi.svg" alt="" class="advantages__diksi-image">
            </div>
        </div>
    </div>
</section>