<section class="catalog">

    <div class="catalog__content">
        <div class="catalog__heading">
            <img src="/images/catalog-heading.svg" alt="" class="catalog__heading-image">
        </div>
        <div class="catalog__subtitle">
            Форматы разные — суть одна: тебе удобно.
        </div>
        <div class="catalog__nav">
            <div class="catalog__nav-wrapper">


                <ul class="catalog__nav-list">
                    <li class="catalog__nav-list-item">
                        <a href="#" class="catalog__nav-link active">
                            Ассорти сыров
                        </a>
                    </li>
                    <li class="catalog__nav-list-item">
                        <a href="#" class="catalog__nav-link">
                            Стики
                        </a>
                    </li>
                    <li class="catalog__nav-list-item">
                        <a href="#" class="catalog__nav-link">
                            Бруски
                        </a>
                    </li>
                    {{!-- <li class="catalog__nav-list-item">
                        <a href="#" class="catalog__nav-link">
                            Тёртый сыр
                        </a>
                    </li> --}}
                </ul>
            </div>
        </div>
        <div class="catalog__tabs">
            <div class="catalog__tab active">
                <div class="catalog__wrapper">
                    <div class="catalog__aside">
                        <div class="catalog__aside-text-content">
                            <h2 class="catalog__aside-heading">
                                Половинка тебе,<br> половинка — тоже тебе
                            </h2>
                            <div class="catalog__aside-text">
                                Этот сыр уже нарезан и точно знает, как лечь на хлеб. А ещё у него два характера — под
                                настроение.
                            </div>
                        </div>
                        <div class="catalog__aside-slider">
                            <div class="catalog__aside-slider-wrapper">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Удобно для бутеров, сырных досок и перекусов
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Форма: двухсекционные упаковки
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    8 вариантов ассорти
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Все — со вкусом и характером
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__aside-slider-pagination">

                                </div>
                                <div class="catalog__aside-slider-arrows">

                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--prev">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--next">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="catalog__main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #C25319;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-1"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/1-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/1.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/1-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="15">
                                                <img src="/images/catalog/1-decor-4.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="25">
                                                <img src="/images/catalog/1-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Сливочный + оливки и томаты
                                        </h3>
                                        <div class="product-card__text">
                                            Мягкий, сливочный и с чуть терпким ореховым послевкусием. Спокойный и
                                            взрослый, такой не пишет в 2 ночи «привет, спишь?»
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #6AA338;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-2"></use>
                                                </svg>
                                            </div>

                                            <img src="/images/catalog/2.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/2-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/2-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="15">
                                                <img src="/images/catalog/2-decor-4.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/2-decor-5.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>


                                            <div class="product-card__decor" data-depth="25">
                                                <img src="/images/catalog/2-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Сливочный + оливки и томаты
                                        </h3>
                                        <div class="product-card__text">
                                            Лёгкий и средиземноморский, с солёным акцентом - как бриз, только без песка
                                            в зубах
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #E54B39;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-3"></use>
                                                </svg>
                                            </div>

                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/16-decor-4.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>

                                            <img src="/images/catalog/16.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/16-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="15">
                                                <img src="/images/catalog/16-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/16-decor-5.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="25">
                                                <img src="/images/catalog/16-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Сливочный + томаты и базилик
                                        </h3>
                                        <div class="product-card__text">
                                            Солнце в кусочке томата, прохлада в листе базилика
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #F49425;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-4"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/4-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/4-decor-4.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/4.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="15">
                                                <img src="/images/catalog/4-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/4-decor-5.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="25">
                                                <img src="/images/catalog/4-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Сливочный + лесные грибы
                                        </h3>
                                        <div class="product-card__text">
                                            Сливочный и с тёплым грибным акцентом - как если бы клетчатый плед вдруг
                                            оказался съедобным
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #E54B39;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-5"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/5-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/5.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="15">
                                                <img src="/images/catalog/5-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/5-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="25">
                                                <img src="/images/catalog/5-decor-4.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__hot">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#hot"></use>
                                                </svg>
                                                С легкой<br>
                                                остринкой
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Сливочный + чили и паприка
                                        </h3>
                                        <div class="product-card__text">
                                            Сливочная мягкость и летний жар — будто на даче внезапно подули мексиканские
                                            ветра
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #FFF099;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-6"></use>
                                                </svg>
                                            </div>
                                            <img src="/images/catalog/6.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/6-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/6-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/6-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Утренний + ночной
                                        </h3>
                                        <div class="product-card__text">
                                            Один заряжает, другой разоружает
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #C25319;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-7"></use>
                                                </svg>
                                            </div>

                                            <img src="/images/catalog/8.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/8-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>

                                        </div>
                                        <h3 class="product-card__title">
                                            трюфель
                                        </h3>
                                        <div class="product-card__text">
                                            Глубокий, с трюфельной элегантностью
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__main-slider-pagination">

                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__tab">
                <div class="catalog__wrapper">
                    <div class="catalog__aside">
                        <div class="catalog__aside-text-content">
                            <h2 class="catalog__aside-heading">
                                Открывай. Кусай. Повторяй
                            </h2>
                            <div class="catalog__aside-text">
                                Это как батончик, только сырный. Быстрый перекус для быстрых дней. Еда, которая успевает
                                за жизнью.
                            </div>
                        </div>
                        <div class="catalog__aside-slider">
                            <div class="catalog__aside-slider-wrapper">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    На лету, с кофе, в рюкзак ребёнку
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Индивидуальные сырные палочки
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Формат: 50г
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Разные вкусы, легко взять с собой
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__aside-slider-pagination">

                                </div>
                                <div class="catalog__aside-slider-arrows">

                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--prev">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--next">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #009EE3;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-1"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor">
                                                <img src="/images/catalog/9-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/9.webp" alt="" class="product-card__image">

                                        </div>
                                        <h3 class="product-card__title">
                                            молочная лёгкость
                                        </h3>
                                        <div class="product-card__text">
                                            Деликатный, мягкий, как твой начальник после психотерапии
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #E54B39;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-5"></use>
                                                </svg>
                                            </div>

                                            <img src="/images/catalog/10.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/5-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/5-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>

                                        </div>
                                        <h3 class="product-card__title">
                                            паприка с лёгкой остринкой
                                        </h3>
                                        <div class="product-card__text">
                                            С характером — чуть острит, но не перебарщивает
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #FFF099;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-6"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor">
                                                <img src="/images/catalog/11-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/11.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor">
                                                <img src="/images/catalog/11-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>

                                        </div>
                                        <h3 class="product-card__title">
                                            сливочная нежность
                                        </h3>
                                        <div class="product-card__text">
                                            Нежный и мягкий - дипломат от мира сыра
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__main-slider-pagination">

                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__tab">
                <div class="catalog__wrapper">
                    <div class="catalog__aside">
                        <div class="catalog__aside-text-content">
                            <h2 class="catalog__aside-heading">
                                Большой, чтобы делиться. Или не делиться
                            </h2>
                            <div class="catalog__aside-text">
                                Универсальный брусок: для пиццы, пасты или запеканок. Прямоугольник счастья на твоём
                                столе. Форма простая, а варианты использования безграничны.
                            </div>
                        </div>
                        <div class="catalog__aside-slider">
                            <div class="catalog__aside-slider-wrapper">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Можно тереть, плавить, резать или просто смотреть (наш сыр очень
                                                    красивый)
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Классический брусок сыра
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Идеален для готовки, семьи и тех, кто «люблю сам».
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__aside-slider-pagination">

                                </div>
                                <div class="catalog__aside-slider-arrows">

                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--prev">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--next">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #009EE3;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-2"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/12-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/12.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/12-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            Сливочный
                                        </h3>
                                        <div class="product-card__text">
                                            Мягкий, сбалансированный — потому что жизнь и сыр должны быть без перегибов
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #E54B39;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-4"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor" data-depth="5">
                                                <img src="/images/catalog/13-decor-4.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/13.webp" alt="" class="product-card__image">
                                            <div class="product-card__decor" data-depth="10">
                                                <img src="/images/catalog/13-decor-3.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="15">
                                                <img src="/images/catalog/13-decor-2.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <div class="product-card__decor" data-depth="20">
                                                <img src="/images/catalog/13-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                        </div>
                                        <h3 class="product-card__title">
                                            голландский
                                        </h3>
                                        <div class="product-card__text">
                                            Классика с международным паспортом и домашним характером
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="catalog__main-slider-pagination">

                        </div>
                    </div>
                </div>
            </div>
            {{!-- <div class="catalog__tab">
                <div class="catalog__wrapper">
                    <div class="catalog__aside">
                        <div class="catalog__aside-text-content">
                            <h2 class="catalog__aside-heading">
                                Без тёрок с тёркой
                            </h2>
                            <div class="catalog__aside-text">
                                Мы уже всё сделали за тебя. Пусть тёрка отдыхает.
                            </div>
                        </div>
                        <div class="catalog__aside-slider">
                            <div class="catalog__aside-slider-wrapper">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Не слипается, тает красиво
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Удобный зип-пакет.
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="catalog__aside-slider-card">
                                                <h3 class="catalog__aside-slider-card-title">
                                                    Для пасты, пиццы, яичницы, гратена.
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__aside-slider-pagination">

                                </div>
                                <div class="catalog__aside-slider-arrows">

                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--prev">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-left"></use>
                                        </svg>
                                    </button>
                                    <button class="catalog__aside-slider-arrow catalog__aside-slider-arrow--next">
                                        <span class="catalog__aside-slider-arrow-circle">

                                        </span>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#slider-arrow-right"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__main-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="product-card" style="--accent-color: #009EE3;">
                                        <div class="product-card__image-container">
                                            <div class="product-card__shape">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#catalog-shape-1"></use>
                                                </svg>
                                            </div>
                                            <div class="product-card__decor">
                                                <img src="/images/catalog/14-decor.webp" alt=""
                                                    class="product-card__decor-image">
                                            </div>
                                            <img src="/images/catalog/14.webp" alt="" class="product-card__image">

                                        </div>
                                        <h3 class="product-card__title">
                                            классический
                                        </h3>
                                        <div class="product-card__text">
                                            Плавный, как утро без будильника, и достаточно сливочный, чтобы не забыть,
                                            что это сыр
                                        </div>
                                    </a>
                                </div>



                            </div>
                        </div>
                        <div class="catalog__main-slider-pagination">

                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>