<section class="cheese" id="cheese">
    <div class="cheese__wrapper">
        <div class="cheese__bg">
            <img src="/images/cheese-decor.svg" alt="" class="cheese__decor">
            <div class="cheese__circle-wrapper">
                <img src="/images/cheese-circle.webp" alt="" class="cheese__circle">
            </div>
        </div>
        <div class="cheese__content">
            <div class="cheese__text-content">
                <h2 class="cheese__title">
                    Сыр, который адаптируется под тебя, твой день и твой холодильник
                </h2>
                <img src="/images/natural.svg" alt="" class="cheese__natural">
                <img src="/images/tasty.svg" alt="" class="cheese__tasty">
                <img src="/images/convenient.svg" alt="" class="cheese__convenient">
            </div>
            <div class="cheese__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="cheese__slider-card">
                                <div class="cheese__slider-card-image-container">
                                    <img src="/images/cheese/1.webp" alt="" class="cheese__slider-card-image">
                                </div>
                                <img src="/images/cheese/1-text.svg" alt=""
                                    class="cheese__slider-card-text cheese__slider-card-text--first">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cheese__slider-card cheese__slider-card--save-world">
                                <div class="cheese__slider-card-image-container">
                                    <img src="/images/cheese/2.webp" alt="" class="cheese__slider-card-image">
                                </div>
                                <img src="/images/cheese/2-text.svg" alt="" class="cheese__slider-card-text">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="cheese__slider-card cheese__slider-card--formats">
                                <div class="cheese__slider-card-image-container">
                                    <img src="/images/cheese/3.webp" alt="" class="cheese__slider-card-image">
                                </div>
                                <img src="/images/cheese/3-text.svg" alt="" class="cheese__slider-card-text">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cheese__slider-pagination">

                </div>
            </div>
        </div>
    </div>
    <div class="cheese__darkblue-layer">

    </div>
    <div class="cheese__pink-layer">

    </div>
    <div class="cheese__waves">
        <picture>
            <source srcset="/images/cheese-wave-mobile.svg" media="(max-width: 576px)" />
            <img src="/images/cheese-wave.svg" alt="" class="cheese__waves-image">
        </picture>
    </div>
</section>