<section class="cheese-saves-world">
    <div class="cheese-saves-world__content">
        <div class="cheese-saves-world__text-wrapper">
            <div class="cheese-saves-world__decorative-bg"></div>
            <div class="cheese-saves-world__decorative-overlay"></div>
            <div class="cheese-saves-world__text">
                <p class="cheese-saves-world__line">сыр спасёт мир.</p>
                <p class="cheese-saves-world__line">или хотя бы ужин</p>
            </div>
        </div>
    </div>
</section>