<section class="contacts">
    <div class="contacts__content">
        <img src="/images/logo-dark.svg" alt="" class="contacts__logo">
        <div class="contacts__row">
            <div class="contacts__text-card">
                На связи. Без колл-центров и&nbsp;«оставьте заявку»
            </div>
            <div class="contacts__info-card">
                <ul class="contacts__list">
                    <li class="contacts__list-item">
                        <div class="contacts__info-card-item">
                            <div class="contacts__info-card-item-text">
                                Мы всегда на связи и естественно открыты к общению с новыми людьми, поэтому пишите или
                                звоните нам:
                            </div>
                            <div class="contacts__info-card-item-links">
                                <a href="mailto:hello@estestvenno.ru" class="contacts__info-card-item-link">
                                    <span class="contacts__info-card-item-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#mail"></use>
                                        </svg>
                                    </span>
                                    hello@estestvenno.ru
                                </a>
                                <a href="tel:8 (495) 123-45-67" class="contacts__info-card-item-link">
                                    <span class="contacts__info-card-item-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                    </span>
                                    8 (495) 123-45-67
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__info-card-item">
                            <div class="contacts__info-card-item-text">
                                Естественно наш адрес:
                            </div>
                            <div class="contacts__info-card-item-links">
                                <div class="contacts__info-card-item-link">
                                    <span class="contacts__info-card-item-link-icon">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#location"></use>
                                        </svg>
                                    </span>
                                    Московская область, город Чехов, Индустриальная, 18
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="contacts__image-card">
                <img src="/images/contacts.webp" alt="" class="contacts__image">
            </div>
            <div class="contacts__tablet-wrapper">


                <ul class="contacts__social-list">
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            Вконтакте
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#small-arrow"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            Телеграм
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#small-arrow"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="contacts__social-list-item">
                        <a href="#" class="contacts__social-link">
                            Инстаграм
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#small-arrow"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a href="#" class="contacts__policy">
                    Политика обработки персональных данных
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#small-arrow"></use>
                    </svg>
                </a>
                <div class="contacts__copyright">
                    © Естественно, все права защищены.
                </div>
            </div>
        </div>
    </div>

</section>