<section class="contacts contacts--with-cheese">
    <picture>
        <source srcset="/images/contacts-cheese-mobile.svg" media="(max-width: 576px)" />
        <source srcset="/images/contacts-cheese-tablet.svg" media="(max-width: 768px)" />
        <img src="/images/contacts-cheese.svg" alt="" class="contacts__cheese">
    </picture>
    <div class="contacts__outer-wrapper">
        <div class="contacts__content">
            <div class="contacts__card">
                <img src="/images/logo-dark.svg" alt="" class="contacts__logo">
                <div class="contacts__row">
                    <div class="contacts__text-card">
                        На связи. Без колл-центров и «оставьте заявку»
                    </div>
                    <div class="contacts__info-card">
                        <ul class="contacts__list">
                            <li class="contacts__list-item">
                                <div class="contacts__info-card-item">
                                    <div class="contacts__info-card-item-text">
                                        Естественно, мы всегда на связи и открыты к общению с новыми людьми, поэтому
                                        пиши
                                        нам:
                                    </div>
                                    <div class="contacts__info-card-item-links">
                                        <a href="mailto: kachestvo@estestvenno.site"
                                            class="contacts__info-card-item-link">
                                            <span class="contacts__info-card-item-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#mail"></use>
                                                </svg>
                                            </span>
                                            kachestvo@estestvenno.site
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="contacts__list-item">
                                <div class="contacts__info-card-item">
                                    <div class="contacts__info-card-item-text">
                                        Естественно наш адрес:
                                    </div>
                                    <div class="contacts__info-card-item-links">
                                        <div class="contacts__info-card-item-link">
                                            <span class="contacts__info-card-item-link-icon">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#location"></use>
                                                </svg>
                                            </span>
                                            Московская область, г. Чехов, ул. Индустриальная, 18
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts__image-card">
                        <img src="/images/contacts.webp" alt="" class="contacts__image">
                    </div>
                    <div class="contacts__tablet-wrapper">


                        <ul class="contacts__social-list">
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    Вконтакте
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#small-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    Телеграм
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#small-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="contacts__social-list-item">
                                <a href="#" class="contacts__social-link">
                                    Инстаграм
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#small-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="contacts__policy">
                            Политика обработки персональных данных
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#small-arrow"></use>
                            </svg>
                        </a>
                        <div class="contacts__copyright">
                            © Естественно, все права защищены.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>