<section class="fridge">
    <div class="fridge__content">
        <div class="fridge__top">
            <div class="fridge__draggable js-fridge-drag">
                <div class="fridge__labels">
                    <div class="fridge__label" data-drag-item="">
                        В нашем сыре —<br> только нужное
                    </div>
                    <div class="fridge__label" data-drag-item="">
                        <div class="fridge__label-number">
                            01
                        </div>
                        молоко
                    </div>
                    <div class="fridge__label" data-drag-item="">
                        <div class="fridge__label-number">
                            02
                        </div>
                        соль
                    </div>
                    <div class="fridge__label" data-drag-item="">
                        <div class="fridge__label-number">
                            03
                        </div>
                        ферменты
                    </div>
                </div>
                <div class="fridge__antibiotics" data-drag-item="">
                    <img src="/images/antibiotics.svg" alt="" class="fridge__antibiotics-image">
                </div>
                <div class="fridge__heart" data-drag-item="">
                    <img src="/images/heart.svg" alt="" class="fridge__heart-image">
                </div>
                <div class="fridge__slogan" data-drag-item="">
                    <img src="/images/fridge-slogan.svg" alt="" class="fridge__slogan-image">
                </div>
                <div class="fridge__veggies" data-drag-item="">
                    <img src="/images/veggies.svg" alt="" class="fridge__veggies-image">
                </div>
                <div class="fridge__photo" data-drag-item="">
                    <img src="/images/fridge-photo.webp" alt="" class="fridge__photo-image">
                </div>
            </div>
            <div class="fridge__top-text-content">
                <h2 class="fridge__heading">
                    Ты будь естественным,<br> а сыр подстроится
                </h2>
                <div class="fridge__text">
                    Мы — это там, где удобно, быстро и по-настоящему вкусно. Мы делаем полутвёрдые сыры, которые живут в
                    реальной жизни:
                </div>
                <div class="fridge__tags">
                    <div class="fridge__tag">
                        для быстрых завтраках
                    </div>
                    <div class="fridge__tag">
                        в перекусах между зумом и залом
                    </div>
                    <div class="fridge__tag">
                        в рюкзаках
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>