<section class="fridge" id="fridge">
    <div class="fridge__content">
        <div class="fridge__stack">
            <div class="fridge__bg">
                <picture>
                    <source srcset="/images/fridge.webp" media="(max-width: 768px)" />
                    <img src="/images/fridge-desktop.webp" alt="" class="fridge__bg-image">
                </picture>
            </div>

            <div class="fridge__draggable">
                <div class="fridge__draggable-inner js-fridge-drag">


                    <div class="fridge__labels">
                        <div class="fridge__label" data-drag-item="">
                            В нашем сыре —<br> только нужное
                        </div>
                        <div class="fridge__label" data-drag-item="">
                            <div class="fridge__label-number">
                                01
                            </div>
                            молоко
                        </div>
                        <div class="fridge__label" data-drag-item="">
                            <div class="fridge__label-number">
                                02
                            </div>
                            соль
                        </div>
                        <div class="fridge__label" data-drag-item="">
                            <div class="fridge__label-number">
                                03
                            </div>
                            ферменты
                        </div>
                        <div class="fridge__label fridge__label--love" data-drag-item="">
                            <div class="fridge__label-number">
                                04
                            </div>
                            любовь
                        </div>
                    </div>
                    <div class="fridge__antibiotics" data-drag-item="">
                        <img src="/images/antibiotics.svg" alt="" class="fridge__antibiotics-image">
                    </div>
                    <div class="fridge__slogan" data-drag-item="">
                        <img src="/images/fridge-slogan.svg" alt="" class="fridge__slogan-image">
                    </div>
                    <div class="fridge__mushroom" data-drag-item="">
                        <img src="/images/mushroom.svg" alt="" class="fridge__mushroom-image">
                    </div>
                    <div class="fridge__tomato" data-drag-item="">
                        <img src="/images/tomato.svg" alt="" class="fridge__tomato-image">
                    </div>
                    <div class="fridge__photo" data-drag-item="">
                        <img src="/images/fridge-photo.webp" alt="" class="fridge__photo-image">
                    </div>
                    {{!-- <div class="fridge__message">
                        Передвинь магнитики<br>прямо сейчас
                    </div> --}}
                </div>
            </div>
            <div class="fridge__text-content">
                <h2 class="fridge__heading">
                    Ты&nbsp;будь естественным,<br> а&nbsp;сыр подстроится
                </h2>
                <div class="fridge__text">
                    Мы&nbsp;делаем сыры, которые живут в&nbsp;реальной жизни. Сыр&nbsp;&mdash; это там, где тебе удобно,
                    быстро и&nbsp;по-настоящему вкусно:
                </div>
                <div class="fridge__tags">
                    <div class="fridge__tag">
                        для быстрых завтраках
                    </div>
                    <div class="fridge__tag">
                        для рюкзаков, полных дел
                    </div>
                    <div class="fridge__tag">
                        для перекусов между зумом и залом
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>