<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__left">
            <ul class="page-header__nav-list">
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Наша концепция
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Продукция
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        О бренде
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Где купить
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="page-header__logo">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__right">
            <ul class="page-header__nav-list">
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Работа у нас
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Партнёрам
                    </a>
                </li>
                <li class="page-header__nav-list-item">
                    <a href="#" class="page-header__nav-link">
                        Контакты
                    </a>
                </li>
            </ul>
            <a href="#" class="page-header__callback-link">
                Связаться
            </a>
        </div>
    </div>
</header>