<section class="intro">
    <div class="intro__content">
        <img src="/images/intro-heading.svg" alt="" class="intro__heading">
        <div class="intro__slider">
            <button class="intro__slider-arrow intro__slider-arrow--prev js-magnet-btn">
                <span class="intro__slider-arrow-circle js-magnet-btn-element">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <div class="intro__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="intro__slider-card">

                                <img src="/images/intro/1.webp" alt="" class="intro__slider-card-image">
                                <div class="intro__slider-card-decor">
                                    <img src="/images/intro/1-decor.webp" alt="" class="intro__slider-card-decor-image">
                                </div>
                                <img src="/images/intro/1-label.svg" alt="" class="intro__slider-label">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="intro__slider-card">

                                <img src="/images/intro/2.webp" alt="" class="intro__slider-card-image">

                                <div class="intro__slider-card-decor">
                                    <img src="/images/intro/2-decor.webp" alt="" class="intro__slider-card-decor-image">
                                </div>
                                <img src="/images/intro/2-label.svg" alt="" class="intro__slider-label">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="intro__slider-card">

                                <img src="/images/intro/3.webp" alt="" class="intro__slider-card-image">

                                <div class="intro__slider-card-decor">
                                    <img src="/images/intro/3-decor.webp" alt="" class="intro__slider-card-decor-image">
                                </div>
                                <img src="/images/intro/3-label.svg" alt="" class="intro__slider-label">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="intro__slider-card">


                                <div class="intro__slider-card-decor">
                                    <img src="/images/intro/4-decor-2.webp" alt=""
                                        class="intro__slider-card-decor-image">
                                </div>
                                <img src="/images/intro/4.webp" alt="" class="intro__slider-card-image">

                                <div class="intro__slider-card-decor">
                                    <img src="/images/intro/4-decor.webp" alt="" class="intro__slider-card-decor-image">
                                </div>
                                <img src="/images/intro/4-label.svg" alt="" class="intro__slider-label">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="intro__slider-arrow intro__slider-arrow--next js-magnet-btn">
                <span class="intro__slider-arrow-circle js-magnet-btn-element">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>

</section>