<section class="invitation">
    <div class="invitation__content">
        <div class="invitation__cards">
            <div class="invitation__card">
                <div class="invitation__card-content">
                    <h3 class="invitation__card-title">
                        Мы&nbsp;растём<br> и&nbsp;выходим<br> в&nbsp;ритейл
                    </h3>
                    <div class="invitation__card-text">
                        Поэтому ищем надёжных партнёров, с&nbsp;которыми можно выстраивать честные, прозрачные
                        и&nbsp;долгосрочные
                        отношения
                    </div>
                </div>
            </div>
            <div class="invitation__image-card">
                <img src="/images/invitation.webp" alt="">
            </div>
            <div class="invitation__card">
                <div class="invitation__card-content">
                    <h3 class="invitation__card-title">
                        Мы&nbsp;строим бренд,&nbsp;который подстраивается под ритм реальности
                    </h3>
                    <div class="invitation__card-text">
                        В&nbsp;продукте и&nbsp;в&nbsp;деле. Нам важны гибкость, честность и&nbsp;современный
                        подход&nbsp;&mdash; от&nbsp;производства до&nbsp;полки.
                    </div>
                </div>
            </div>
        </div>
        <div class="invitation__scroll-down">
            <div class="invitation__scroll-down-card">
                Если совпадаем<br> по вкусу — начнём
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#download"></use>
                </svg>
            </div>

        </div>

    </div>
</section>