<div class="modal js-modal" id="callback-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__inner-wrapper">
            <h3 class="modal__heading">
                Давайте общаться прямо сейчас
            </h3>
            <div class="modal__text">
                Мы очень открытые и всегда отвечаем на письма тех, кто стучится к нам. Пиши, и мы с радостью ответим на
                вопросы и обсудим варианты сотрудничества.
            </div>
            <form action="/" method="POST" class="modal__form js-form">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <div class="modal__form-input-wrapper">
                            <input type="text" name="name" class="modal__form-input" placeholder="Имя и фамилия"
                                required="">
                            <button class="modal__form-input-clear-btn js-clear-input-btn" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="modal__form-field">
                        <div class="modal__form-input-wrapper">
                            <input type="text" name="data" class="modal__form-input" placeholder="Контактные данные"
                                required="">
                            <button class="modal__form-input-clear-btn js-clear-input-btn" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="modal__form-field">
                        <div class="modal__form-input-wrapper">
                            <textarea name="comment" class="modal__form-input" rows="4"
                                placeholder="Напишите свой вопрос"></textarea>
                            <button class="modal__form-input-clear-btn js-clear-input-btn" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <button class="modal__btn" type="submit">
                    Отправить
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#small-arrow"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="career-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__inner-wrapper">
            <h3 class="modal__heading">
                Давайте общаться прямо сейчас
            </h3>
            <div class="modal__text">
                Мы очень открытые и всегда отвечаем на письма тех, кто стучится к нам. Пиши, и мы с радостью ответим на
                вопросы и обсудим варианты сотрудничества.
            </div>
            <form action="/" method="POST" class="modal__form js-form">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <div class="modal__form-input-wrapper">
                            <input type="text" name="name" class="modal__form-input" placeholder="Имя и фамилия"
                                required="">
                            <button class="modal__form-input-clear-btn js-clear-input-btn" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="modal__form-field">
                        <div class="modal__form-input-wrapper">
                            <input type="text" name="data" class="modal__form-input" placeholder="Контактные данные"
                                required="">
                            <button class="modal__form-input-clear-btn js-clear-input-btn" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="modal__form-field">
                        <div class="modal__form-input-wrapper">
                            <textarea name="comment" class="modal__form-input" rows="4"
                                placeholder="Напишите свой вопрос"></textarea>
                            <button class="modal__form-input-clear-btn js-clear-input-btn" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal__file-upload js-file-upload">
                    <label class="modal__file-upload-wrapper">
                        <input type="file" class="modal__file-upload-input" name="file">
                        <span class="modal__file-upload-default-row">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#upload"></use>
                            </svg>
                            <span class="modal__file-upload-default-content">
                                <span class="modal__file-upload-default-text">
                                    Загрузите файл
                                </span>
                                <span class="modal__file-upload-default-format">
                                    PDF, Word не более 5 мб
                                </span>
                            </span>
                        </span>
                        <span class="modal__file-upload-loaded-row">
                            <span class="modal__file-upload-loaded-text js-file-upload-text">

                            </span>
                            <button class="modal__file-upload-clear-btn js-file-upload-clear-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#clear"></use>
                                </svg>
                            </button>
                        </span>
                    </label>
                </div>
                <button class="modal__btn" type="submit">
                    Отправить
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#small-arrow"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="success-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__inner-wrapper">
            <div class="modal__icon-ok">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#checkmark"></use>
                </svg>
            </div>
            <h3 class="modal__heading">
                сырный конверт доставлен
            </h3>
            <button class="modal__btn js-modal-close" type="button">
                Отлично, жду ответ!
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#small-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="modal js-modal" id="error-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__inner-wrapper">
            <div class="modal__icon-error">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#modal-close"></use>
                </svg>
            </div>
            <h3 class="modal__heading">
                Упс! Письмо расплавилось, попробуй ещё раз!
            </h3>
            <button class="modal__btn js-modal-close" type="button">
                Хорошо, попробую
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#small-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</div>