<section class="partners-intro">
    <div class="partners-intro__content">
        <div class="breadcrumbs partners-intro__breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#small-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        Партнёрам
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="partners-intro__back-btn">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#small-arrow-left"></use>
            </svg>
            Главная
        </a>
        <img src="/images/partners-intro.svg" alt="" class="partners-intro__heading">
        <div class="cheese__slider cheese__slider--partners">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cheese__slider-card cheese__slider-card--attention">
                            <div class="cheese__slider-card-image-container">
                                <img src="/images/cheese/4.webp" alt="" class="cheese__slider-card-image">
                            </div>
                            <img src="/images/cheese/4-text.svg" alt=""
                                class="cheese__slider-card-text cheese__slider-card-text--first">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cheese__slider-card cheese__slider-card--save-world">
                            <div class="cheese__slider-card-image-container">
                                <img src="/images/cheese/2.webp" alt="" class="cheese__slider-card-image">
                            </div>
                            <img src="/images/cheese/2-text.svg" alt="" class="cheese__slider-card-text">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cheese__slider-card cheese__slider-card--formats">
                            <div class="cheese__slider-card-image-container">
                                <img src="/images/cheese/3.webp" alt="" class="cheese__slider-card-image">
                            </div>
                            <img src="/images/cheese/3-text.svg" alt="" class="cheese__slider-card-text">
                        </div>
                    </div>

                </div>
            </div>
            <div class="cheese__slider-pagination">

            </div>
        </div>
    </div>
</section>