<section class="partners">
    <div class="partners__wrapper">
        <div class="partners__bg">
            <img src="/images/cheese-decor.svg" alt="" class="partners__decor">
            <div class="cheese__circle-wrapper">
                <img src="/images/cheese-circle.webp" alt="" class="partners__circle">
            </div>
        </div>
        <div class="partners__content">
            <div class="partners__requirements">
                <h2 class="partners__requirements-heading">
                    Ищем тех, кто&nbsp;варит&nbsp;по&nbsp;любви
                </h2>
                <div class="partners__requirements-text">
                    Мы в поиске партнёров, которые:
                </div>
                <div class="partners__requirements-slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="partners__requirements-slider-card">
                                    <div class="partners__requirements-slider-card-icon">
                                        <img src="/images/requirements/1.svg" alt=""
                                            class="partners__requirements-slider-card-icon-image">
                                    </div>
                                    <h4 class="partners__requirements-slider-card-title">
                                        Производят сыры с&nbsp;честным&nbsp;составом
                                    </h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partners__requirements-slider-card">
                                    <div class="partners__requirements-slider-card-icon">
                                        <img src="/images/requirements/2.svg" alt=""
                                            class="partners__requirements-slider-card-icon-image">
                                    </div>
                                    <h4 class="partners__requirements-slider-card-title">
                                        варят с душой и гордятся каждым кусочком
                                    </h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partners__requirements-slider-card">
                                    <div class="partners__requirements-slider-card-icon">
                                        <img src="/images/requirements/3.svg" alt=""
                                            class="partners__requirements-slider-card-icon-image">
                                    </div>
                                    <h4 class="partners__requirements-slider-card-title">
                                        Разделяют ценности натуральности, гибкости и качества
                                    </h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partners__requirements-slider-card">
                                    <div class="partners__requirements-slider-card-icon">
                                        <img src="/images/requirements/4.svg" alt=""
                                            class="partners__requirements-slider-card-icon-image">
                                    </div>
                                    <h4 class="partners__requirements-slider-card-title">
                                        соблюдают стандарты качества
                                    </h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partners__requirements-slider-card">
                                    <div class="partners__requirements-slider-card-icon">
                                        <img src="/images/requirements/5.svg" alt=""
                                            class="partners__requirements-slider-card-icon-image">
                                    </div>
                                    <h4 class="partners__requirements-slider-card-title">
                                        Готовы к стабильным объёмам и прозрачным условиям
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners__requirements-slider-pagination">

                    </div>
                </div>
            </div>
            <div class="partners__presentation">
                <h2 class="partners__presentation-heading">
                    Вся информация и&nbsp;техтребования — в&nbsp;презентации ниже
                </h2>
                <a href="#" class="partners__presentation-link">
                    Скачать презентацию
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#download"></use>
                    </svg>
                </a>
            </div>
            <div class="partners__contact">
                <h2 class="partners__contact-heading">
                    Сыр, который не залежится
                </h2>
                <div class="partners__contact-row">
                    <div class="partners__contact-card">
                        <h2 class="partners__contact-card-heading">
                            Розница, кафе, доставки,<br> маркетплейсы
                        </h2>
                        <div class="partners__contact-card-text">
                            Если вы ищете сыр, который не застрянет на полке и понравится покупателю с первого укуса, —
                            мы на связи.
                        </div>
                        <ol class="partners__contact-card-list">
                            <li class="partners__contact-card-list-item">
                                Брендинг – запоминающийся
                            </li>
                            <li class="partners__contact-card-list-item">
                                логистика – отлаженная
                            </li>
                            <li class="partners__contact-card-list-item">
                                Сыр – подстраивается под жизнь (и продажи)
                            </li>
                        </ol>
                        <a href="#" class="partners__contact-card-link">
                            будем на связи
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#mail"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="partners__contact-image-wrapper">
                        <img src="/images/partner-contact.webp" alt="" class="partners__contact-image">
                    </div>
                </div>
            </div>
            <div class="partners__faq">
                <h2 class="partners__faq-heading">
                    Часто задаваемые вопросы
                </h2>
                <div class="partners__faq-subtitle">
                    От партнёров
                </div>
                <ul class="partners__faq-list">
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Открыты ли вы к контрактному производству?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                Да, мы открыты к диалогу с производствами, способными обеспечить
                                                стабильное
                                                качество, гибкость в рецептуре и соответствие нашим требованиям по
                                                натуральности и безопасности. Если у вас есть интерес — заполните
                                                короткую
                                                анкету и прикрепите презентацию. Мы обязательно свяжемся при наличии
                                                релевантного проекта.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Какие объёмы производства вас интересуют?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                Минимальный объём зависит от конкретной категории (нарезка, стик,
                                                брусок, с добавками и т.д.). Обычно рассматриваем производственные
                                                мощности от 20 тонн в месяц на старт.
                                            </p>
                                            <p>
                                                Если у вас меньше — всё равно напишите: мы ищем партнёров для отдельных
                                                партий и сезонных линеек.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Какие виды сыров вы хотите производить?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                Нас интересуют:
                                            </p>
                                            <ul>
                                                <li>
                                                    полутвёрдые и твёрдые сыры (типа гауда, российский, чеддер),
                                                </li>
                                                <li>
                                                    сыры с добавками (грибы, орехи, специи, томаты и т.д.),
                                                </li>
                                                <li>
                                                    тертые сыры и сыры в кубиках;
                                                </li>
                                                <li>
                                                    деликатесные сыры с плесенью.
                                                </li>
                                            </ul>
                                            <p>
                                                Точная продуктовая матрица по запросу.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Вы работаете только с российскими площадками или интересны и СНГ/Европа?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                В приоритете — российские производственные мощности. Но мы открыты для
                                                партнёров из СНГ или Европы, если есть логистическая и сертификационная
                                                совместимость.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Вы предоставляете свои рецептуры или адаптируете наши?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                Работаем в обоих форматах. У нас есть собственные рецепты и техкарты, но
                                                также можем адаптироваться под вашу линейку, если она соответствует
                                                нашему вкусовому профилю и философии бренда.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Кто отвечает за логистику и доставку?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                По договорённости. Чаще всего мы сами организуем вывоз продукции со
                                                склада партнёра, но возможен и другой формат — в зависимости от
                                                расположения производства и графика.
                                            </p>
                                            <p>
                                                Мы работаем с холодильной логистикой и контролируем температурный режим
                                                по всей цепочке.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners__faq-list-item">
                        <div class="partners__faq-accordion">
                            <button class="partners__faq-accordion-btn">
                                <span class="partners__faq-accordion-btn-text">
                                    Как подать заявку на сотрудничество?
                                </span>
                                <div class="partners__faq-accordion-btn-icon">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </button>
                            <div class="partners__faq-accordion-dropdown">
                                <div class="partners__faq-accordion-dropdown-inner">
                                    <div class="partners__faq-accordion-content">
                                        <div class="partners__faq-accordion-text">
                                            <p>
                                                Вы можете написать нам в Telegram-бот или на почту
                                                partner@estestvenno.site.<br> Мы стараемся отвечать быстро и по делу.
                                            </p>

                                        </div>
                                        <a href="#" class="partners__faq-link">
                                            Будем на связи
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#mail"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="partners__darkblue-layer">

    </div>
    <div class="partners__pink-layer">

    </div>

</section>