<section class="product">
    <div class="product__content">
        <div class="breadcrumbs product__breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#small-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link active">
                        Cливочный + чили и паприка
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="product__back-btn">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#small-arrow-left"></use>
            </svg>
            Главная
        </a>
        <div class="product__row">
            <div class="product__left">
                <div class="product__slider" style="--accent-color: #E54B39;">
                    <div class="product__slider-wrapper">
                        <div class="product__slider-bg">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#catalog-shape-5"></use>
                            </svg>
                        </div>
                        <div class="product__slider-wrapper-inner">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <div class="product__slider-card-decor" data-depth="10">
                                                <img src="/images/product-detail-2/decor-2.webp" alt=""
                                                    class="product__slider-card-decor-image">
                                            </div>
                                            <img src="/images/product-detail-2/product.webp" alt=""
                                                class="product__slider-card-image">

                                            <div class="product__slider-card-decor" data-depth="20">
                                                <img src="/images/product-detail-2/decor.webp" alt=""
                                                    class="product__slider-card-decor-image">
                                            </div>
                                            <div class="product__slider-card-labels">
                                                <div class="product__slider-card-fat">
                                                    <span>
                                                        45%
                                                    </span>
                                                    жирность
                                                </div>

                                                <div class="product__slider-card-natural">
                                                    натуральный<br>
                                                    состав
                                                </div>
                                                <div class="product__slider-card-love">
                                                    100% любовь<br>
                                                    и забота
                                                </div>
                                                <div class="product__slider-card-hot">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#hot"></use>
                                                    </svg>
                                                    С легкой<br>
                                                    остринкой
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="product__slider-card">
                                            <div class="product__slider-card-decor" data-depth="10">
                                                <img src="/images/product-detail-2/decor-2.webp" alt=""
                                                    class="product__slider-card-decor-image">
                                            </div>
                                            <img src="/images/product-detail-2/product.webp" alt=""
                                                class="product__slider-card-image">

                                            <div class="product__slider-card-decor" data-depth="20">
                                                <img src="/images/product-detail-2/decor.webp" alt=""
                                                    class="product__slider-card-decor-image">
                                            </div>
                                            <div class="product__slider-card-labels">
                                                <div class="product__slider-card-fat">
                                                    <span>
                                                        45%
                                                    </span>
                                                    жирность
                                                </div>

                                                <div class="product__slider-card-natural">
                                                    натуральный<br>
                                                    состав
                                                </div>
                                                <div class="product__slider-card-love">
                                                    100% любовь<br>
                                                    и забота
                                                </div>
                                                <div class="product__slider-card-hot">
                                                    <svg width="14" height="14" aria-hidden="true">
                                                        <use xlink:href="#hot"></use>
                                                    </svg>
                                                    С легкой<br>
                                                    остринкой
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button class="product__slider-arrow product__slider-arrow--prev js-magnet-btn">
                            <span class="product__slider-arrow-circle js-magnet-btn-element">

                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="product__slider-arrow product__slider-arrow--next js-magnet-btn">
                            <span class="product__slider-arrow-circle js-magnet-btn-element">

                            </span>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="product__slider-pagination">

                    </div>
                </div>
            </div>
            <div class="product__right">
                <h1 class="product__heading">
                    сливочный + чили и&nbsp;паприка
                </h1>
                <div class="product__blocks">
                    <div class="product__block active">
                        <button class="product__block-btn" type="button">
                            <span class="product__block-btn-text">
                                Описание продукта
                            </span>
                            <span class="product__block-btn-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="product__block-dropdown">
                            <div class="product__block-dropdown-inner">
                                <div class="product__block-content">
                                    <div class="product__desc">
                                        Сливочная мягкость и летний жар — будто на даче внезапно подули мексиканские
                                        ветра.
                                    </div>
                                    <ul class="product__specs-list">
                                        <li class="product__specs-list-item">
                                            <div class="product__specs-card">
                                                <h3 class="product__specs-card-title">
                                                    Идеально
                                                </h3>
                                                <div class="product__specs-card-text">
                                                    У мангала, с кукурузой и в момент, когда солнце садится, а никто не
                                                    хочет расходиться.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product__specs-list-item">
                                            <div class="product__specs-card">
                                                <h3 class="product__specs-card-title">
                                                    Вкусовые свойства
                                                </h3>
                                                <div class="product__specs-card-percentages">
                                                    <div class="product__specs-card-percentage">
                                                        <div class="product__specs-card-percentage-title">
                                                            Насыщенность
                                                        </div>
                                                        <div class="product__specs-card-percentage-progress"
                                                            style="--percentage: 90">
                                                            <div class="product__specs-card-percentage-progress-bar">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product__specs-card-percentage">
                                                        <div class="product__specs-card-percentage-title">
                                                            Плотность
                                                        </div>
                                                        <div class="product__specs-card-percentage-progress"
                                                            style="--percentage: 65">
                                                            <div
                                                                class="product__specs-card-percentage-progress-bar product__specs-card-percentage-progress-bar--green">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product__specs-card-percentage">
                                                        <div class="product__specs-card-percentage-title">
                                                            Солёность
                                                        </div>
                                                        <div class="product__specs-card-percentage-progress"
                                                            style="--percentage: 65">
                                                            <div
                                                                class="product__specs-card-percentage-progress-bar product__specs-card-percentage-progress-bar--orange">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product__specs-card-percentage">
                                                        <div class="product__specs-card-percentage-title">
                                                            Острота
                                                        </div>
                                                        <div class="product__specs-card-percentage-progress"
                                                            style="--percentage: 60">
                                                            <div
                                                                class="product__specs-card-percentage-progress-bar product__specs-card-percentage-progress-bar--red">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product__block">
                        <button class="product__block-btn" type="button">
                            <span class="product__block-btn-text">
                                Пишевая ценность*
                            </span>
                            <span class="product__block-btn-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </span>
                        </button>
                        <div class="product__block-dropdown">
                            <div class="product__block-dropdown-inner">
                                <div class="product__block-content">

                                    <ul class="product__specs-list">
                                        <li class="product__specs-list-item">
                                            <div class="product__specs-card">
                                                <h3 class="product__specs-card-title">
                                                    Сливочный
                                                </h3>
                                                <div class="product__specs-components">
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            354
                                                        </div>
                                                        ккал
                                                    </div>
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            24,5
                                                        </div>
                                                        Белок
                                                    </div>
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            28,5
                                                        </div>
                                                        Жиры
                                                    </div>
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            0
                                                        </div>
                                                        Углеводы
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="product__specs-list-item">
                                            <div class="product__specs-card">
                                                <h3 class="product__specs-card-title">
                                                    Чили и паприка
                                                </h3>
                                                <div class="product__specs-components">
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            350
                                                        </div>
                                                        ккал
                                                    </div>
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            26
                                                        </div>
                                                        Белок
                                                    </div>
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            27
                                                        </div>
                                                        Жиры
                                                    </div>
                                                    <div class="product__specs-components-item">
                                                        <div class="product__specs-components-item-amount">
                                                            0
                                                        </div>
                                                        Углеводы
                                                    </div>
                                                </div>
                                                <div class="product__specs-remark">
                                                    *Указаны средние значения на 100 гр.
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>