<section class="say-cheese">
    <div class="say-cheese__bg">
        <picture>
            <source srcset="/images/cheese-bg-mobile.svg" media="(max-width: 576px)" />
            <source srcset="/images/cheese-bg-tablet.svg" media="(max-width: 768px)" />
            <img src="/images/cheese-bg.svg" alt="" class="say-cheese__bg-image">
        </picture>
    </div>
    <div class="say-cheese__content">
        <div class="say-cheese__image-wrapper">
            <img src="/images/cheese-guy.webp" alt="" class="say-cheese__image">
            <img src="/images/say-cheese-text.svg" alt="" class="say-cheese__text">
        </div>
    </div>
</section>