<section class="team">
    <div class="team__content">
        <h2 class="team__heading">
            Шефа нет.<br> Есть команда
        </h2>
        <div class="team__text">
            Мы — молодая компания с большими амбициями. Не просто продаем сыр, а строим бренд, который станет историей.
            Здесь всё по-честному:
        </div>
        <ol class="team__list">
            <li class="team__list-item">
                <div class="team__card">
                    <div class="team__card-number">

                    </div>
                    <h3 class="team__card-title">
                        У нас стартап-вайб, а не кабинетный дух
                    </h3>
                </div>
            </li>
            <li class="team__list-item">
                <div class="team__card">
                    <div class="team__card-number">

                    </div>
                    <h3 class="team__card-title">
                        Горизонталь, а не пирамиды — идеи обсуждаем на равных
                    </h3>
                </div>
            </li>
            <li class="team__list-item">
                <div class="team__card">
                    <div class="team__card-number">

                    </div>
                    <h3 class="team__card-title">
                        Свободы много, но и ответственности — тоже
                    </h3>
                </div>
            </li>
            <li class="team__list-item">
                <div class="team__card">
                    <div class="team__card-number">

                    </div>
                    <h3 class="team__card-title">
                        Держимся политики открытых дверей
                    </h3>
                </div>
            </li>
        </ol>
    </div>
</section>