<section class="vacancies">
    <div class="vacancies__content">
        <div class="vacancies__card">
            <h2 class="vacancies__card-title">
                &laquo;Внимание к&nbsp;деталям, стремление к&nbsp;идеалу&raquo;
            </h2>
            <h3 class="vacancies__card-subtitle">
                &mdash;&nbsp;этого мы&nbsp;ждём от&nbsp;себя и&nbsp;друг от&nbsp;друга.
            </h3>
            <div class="vacancies__card-row">
                <div class="vacancies__card-hr">
                    <div class="vacancies__card-hr-text">
                        Наш HR&nbsp;всегда на&nbsp;связи и&nbsp;готов общаться в&nbsp;телеграм:
                    </div>
                    <div class="vacancies__card-hr-goo-wrapper">
                        <a href="#" class="vacancies__card-hr-email" data-text="@estestvenno_hr">
                            <span class="vacancies__card-hr-email-shadow">
                                @estestvenno_hr
                            </span>
                            <span class="vacancies__card-hr-email-text">
                                @estestvenno_hr
                            </span>
                        </a>
                    </div>
                    <div class="vacancies__card-hr-text">
                        Наши вакансии на <a href="#">
                            hh.ru
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#small-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <a href="#" class="vacancies__card-button">
                    {{> vacancies-star }}
                    <span class="vacancies__card-button-text">
                        Заполнить<br> анкету
                    </span>

                </a>
            </div>
        </div>
        <div class="vacancies__slider js-vacancies-slider">
            <button class="vacancies__slider-arrow vacancies__slider-arrow--prev js-magnet-btn">
                <span class="vacancies__slider-arrow-circle js-magnet-btn-element">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="vacancies__slider-card">
                            <img src="/images/vacancies.webp" alt="" class="vacancies__slider-card-image">
                            <img src="/images/atmosphere.svg" alt="Атмосфера - творческая"
                                class="vacancies__slider-card-text">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="vacancies__slider-card">
                            <img src="/images/vacancies.webp" alt="" class="vacancies__slider-card-image">
                            <img src="/images/atmosphere.svg" alt="Атмосфера - творческая"
                                class="vacancies__slider-card-text">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="vacancies__slider-card">
                            <img src="/images/vacancies.webp" alt="" class="vacancies__slider-card-image">
                            <img src="/images/atmosphere.svg" alt="Атмосфера - творческая"
                                class="vacancies__slider-card-text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="vacancies__slider-pagination"></div>
            <button class="vacancies__slider-arrow vacancies__slider-arrow--next js-magnet-btn">
                <span class="vacancies__slider-arrow-circle js-magnet-btn-element">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>