<section class="vacancies">
    <div class="vacancies__content">
        <div class="vacancies__card">
            <h2 class="vacancies__card-title">
                «Внимание к<br> деталям, стремление к&nbsp;идеалу»
            </h2>
            <h3 class="vacancies__card-subtitle">
                — этого мы ждём от себя и друг от друга.
            </h3>
            <div class="vacancies__card-row">
                <div class="vacancies__card-hr">
                    <div class="vacancies__card-hr-text">
                        Наш HR всегда на связи и готов пообщаться с вами в телеграм:
                    </div>
                    <div class="vacancies__card-hr-goo-wrapper">
                        <a href="#" class="vacancies__card-hr-email" data-text="@estestvenno_hr">
                            <span class="vacancies__card-hr-email-shadow">
                                @estestvenno_hr
                            </span>
                            <span class="vacancies__card-hr-email-text">
                                @estestvenno_hr
                            </span>
                        </a>
                    </div>
                    <div class="vacancies__card-hr-text">
                        Или посмотрите больше<br>
                        вакансии на <a href="#">
                            hh.ru
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#small-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <a href="#" class="vacancies__card-button">
                    Заполнить<br> анкету
                </a>
            </div>
        </div>
        <div class="vacancies__slider js-vacancies-slider">
            <button class="vacancies__slider-arrow vacancies__slider-arrow--prev">
                <span class="vacancies__slider-arrow-circle">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-left"></use>
                </svg>
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="vacancies__slider-card">
                            <img src="/images/vacancies.webp" alt="" class="vacancies__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="vacancies__slider-card">
                            <img src="/images/vacancies.webp" alt="" class="vacancies__slider-card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="vacancies__slider-card">
                            <img src="/images/vacancies.webp" alt="" class="vacancies__slider-card-image">
                        </div>
                    </div>
                </div>
            </div>
            <button class="vacancies__slider-arrow vacancies__slider-arrow--next">
                <span class="vacancies__slider-arrow-circle">

                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>