@use "media";
@use "utils";

.fridge {
  @include utils.blockWrapper;
  position: relative;
  padding-top: 9.6rem;
  background-color: #6aa338;
  color: white;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  z-index: 2;

  @include media.breakpoint(small-tablet) {
    padding-top: 4.8rem;
  }

  @include media.breakpoint(small-mobile) {
    padding-top: 2.4rem;
    border-top-left-radius: 4.8rem;
    border-top-right-radius: 4.8rem;
  }
}

.fridge__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.fridge__stack {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  width: 100%;
  margin: 0 auto;
  max-width: 114rem;

  @include media.breakpoint(small-tablet) {
    margin: 0;
    max-width: none;
  }

  @include media.breakpoint(small-mobile) {
    display: block;
    margin: 0;
    max-width: none;
  }
}

.fridge__bg {
  grid-area: stack;
  @include media.breakpoint(small-mobile) {
    display: none;
  }
}

.fridge__bg-image {
  display: block;
  width: 100%;
  height: auto;
  filter: drop-shadow(2.4rem 2.4rem 9.6rem #517d2b);

  @include media.breakpoint(small-tablet) {
    filter: drop-shadow(1.4127rem 1.4127rem 5.6507rem #517d2b);
  }
}

.fridge__draggable {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  padding: 5rem 6rem;
  padding-top: 8rem;
  padding-bottom: 3rem;
  z-index: 7;

  @include media.breakpoint(small-tablet) {
    padding: 3.5rem;
    padding-top: 3rem;
  }

  @include media.breakpoint(small-mobile) {
    display: none;
  }
}

.fridge__draggable-inner {
  flex-grow: 1;
  position: relative;
}

.fridge__text-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  grid-area: stack;
  align-self: flex-start;
  justify-self: center;
  pointer-events: none;
  margin-top: 16.8rem;
  max-width: 54rem;
  color: var(--text-color);
  z-index: 17;
  @include media.breakpoint(small-tablet) {
    max-width: 43rem;
    margin-top: 5.6rem;
  }

  @include media.breakpoint(small-mobile) {
    color: white;
    margin: 0;
    max-width: none;
  }
}

.fridge__heading {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.8rem;
  letter-spacing: -0.128rem;
  text-transform: uppercase;
  font-family: var(--bebas);

  @include media.breakpoint(small-tablet) {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -0.072rem;
    text-transform: uppercase;
  }
}

.fridge__text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  font-family: var(--inter);
  margin-top: 0.8rem;
  max-width: 40rem;

  @include media.breakpoint(small-tablet) {
    max-width: 35rem;
  }

  @include media.breakpoint(small-mobile) {
    max-width: none;
    margin-top: 0.8rem;
  }
}

.fridge__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 2.4rem;
  max-width: 45rem;

  @include media.breakpoint(small-tablet) {
    margin-top: 1.6rem;
    max-width: 40rem;
  }

  @include media.breakpoint(small-mobile) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.8rem;
  }
}

.fridge__tag {
  text-align: center;
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  font-family: var(--inter);
  border-radius: 0.4rem;
  background: #009ee3;
  box-shadow: -0.2rem -0.2rem 0.8rem 0 #006996 inset,
    0.2rem 0.2rem 0.8rem 0 #80d8ff inset;
  color: white;

  flex-shrink: 0;
  &:link,
  &:visited {
    color: white;
  }
}

.fridge__labels {
  display: contents;
}
.fridge__label {
  position: absolute;
  padding: 1rem 1.2rem;
  border-radius: 1.2rem;
  background: white;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 32, 92, 0.12);
  font-family: var(--bebas);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: -0.064rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1rem;

  &--love {
    background: #e54b39;
    box-shadow: 0 0.6287rem 2.5147rem 0 rgba(0, 32, 92, 0.12),
      -0.1572rem -0.1572rem 0.3143rem 0 #b23a2c inset,
      0.1572rem 0.1572rem 0.3143rem 0 #ff8173 inset;
    color: white;

    .fridge__label-number {
      color: var(--text-color);
      background-image: url("../images/love.svg");
    }
  }
  @include media.breakpoint(small-tablet) {
    font-size: 1.4802rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6652rem;
    letter-spacing: -0.0296rem;
    padding: 0.5rem 0.8rem;
    border-radius: 5.551px;
    box-shadow: 0 0.37rem 1.4802rem 0 rgba(0, 32, 92, 0.12);
    gap: 0.5rem;
    &--love {
      background: #e54b39;
      box-shadow: 0 0.37rem 1.48rem 0 rgba(0, 32, 92, 0.12),
        -0.0925rem -0.0925rem 0.185rem 0 #b23a2c inset,
        0.0925rem 0.0925rem 0.185rem 0 #ff8173 inset;
    }
  }

  &:nth-child(1) {
    top: 1rem;
    left: 3.8rem;
    @include media.breakpoint(small-tablet) {
      left: 1rem;
      top: 6rem;
    }
  }

  &:nth-child(2) {
    top: 22.5rem;
    left: 2.6rem;
    transform: rotate(-15deg);
    @include media.breakpoint(small-tablet) {
      left: 3rem;
      top: 14rem;
    }
  }

  &:nth-child(3) {
    left: 28.6rem;
    top: 1.5rem;
    box-shadow: 0 0.6287rem 2.5147rem 0 rgba(0, 32, 92, 0.12);
    transform: rotate(13deg);
    @include media.breakpoint(small-tablet) {
      left: 4rem;
      top: 0rem;
    }
  }

  &:nth-child(4) {
    top: 13.2rem;
    left: 6rem;
    @include media.breakpoint(small-tablet) {
      left: 0rem;
      top: 10.8rem;
    }
  }
  &:nth-child(5) {
    top: 32rem;
    left: 10rem;
    @include media.breakpoint(small-tablet) {
      top: 21rem;
      left: 2rem;
    }
  }
}

.fridge__label-number {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: -0.04rem;
  font-family: var(--bebas);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/fridge-blue-star.svg");
  background-position: center;
  color: white;

  @include media.breakpoint(small-tablet) {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.9251rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1101rem;
    letter-spacing: -0.0185rem;
  }
}

.fridge__antibiotics {
  position: absolute;
  right: 15rem;
  bottom: 15rem;
  width: 9.6rem;

  z-index: 4;

  @include media.breakpoint(small-tablet) {
    width: 7rem;
    top: 11rem;
    right: 2rem;
  }
}

.fridge__antibiotics-image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

.fridge__slogan {
  position: absolute;
  width: 27rem;
  bottom: 4rem;
  right: 17rem;
  transform: rotate(-15deg);

  @include media.breakpoint(small-tablet) {
    width: 16rem;
    right: 7rem;
    bottom: 0;
  }
}

.fridge__slogan-image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

.fridge__message {
  position: absolute;
  right: 4rem;
  bottom: 2rem;
  border-radius: 0.8rem;
  background: white;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 32, 92, 0.12);
  color: var(--text-color);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  font-family: var(--bebas);
  padding: 0.8rem;
  @include media.breakpoint(small-tablet) {
    display: none;
  }
}

.fridge__mushroom {
  position: absolute;
  top: 21rem;
  right: 18rem;
  width: 9.6rem;

  @include media.breakpoint(small-tablet) {
    width: 7rem;
    top: 2rem;
    right: 4rem;
  }
}

.fridge__tomato {
  position: absolute;
  top: 23rem;
  right: 5rem;
  width: 9.6rem;

  @include media.breakpoint(small-tablet) {
    width: 7rem;
    right: 1rem;
    top: 20rem;
  }
}

.fridge__tomato-image {
  display: block;
  width: 100%;
  height: auto;
}

.fridge__mushroom-image {
  display: block;
  width: 100%;
  height: auto;
}

.fridge__photo {
  position: absolute;
  top: 3.4rem;
  right: 6rem;
  width: 14.4rem;
  aspect-ratio: 1 / 1;
  transform: rotate(15deg);

  @include media.breakpoint(small-tablet) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: 2.4rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1456;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    z-index: -1;
  }
}

.fridge__photo-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.4rem;
}
