@use "media";

:root {
  --yellow-color: #ffd900;
  --lightblue-color: #009ee3;
  --text-color: #1c1456;
  --bg-color: #f0f0f0;
  --red: #f60a18;
  --bebas: "Bebas Neue", sans-serif;
  --inter: "Inter", sans-serif;
  --content-padding: 4rem;
  --container-width: 124.8rem;

  @include media.breakpoint(mobile) {
    --content-padding: 2rem;
  }
}
