@use "media";

:root {
  --yellow-color: #ffcc66;
  --lightblue-color: #009ee3;
  --text-color: #1c1456;
  --bg-color: #f0f0f0;
  --red: #e54b39;
  --bebas: "Bebas Neue", sans-serif;
  --inter: "Inter", sans-serif;
  --content-padding: 4.8rem;
  --container-width: 124.8rem;

  @include media.breakpoint(small-mobile) {
    --content-padding: 2.4rem;
  }
}
